body{
    background-image: url(images/solarsystem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: indigo;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-variant: normal;
}

.button1{
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 200px;
    height: 75px;
    color: saddlebrown;
    background-color: wheat;
    border: 2px solid thistle;
    text-align: center;
    margin-left: 10px;
}

.button1 :hover{
    background-color: skyblue;
}

.button1 :active{
    background-color: steelblue;
}